,top-section{
    font: 20px,  sans-serif;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding:10px;
    border: 100px;
    ,image-one{
      background-size: 2px;  
      
    }
body{
  background-color:blue;

}


 
 


    
